<h1>StaticPages#home</h1>
<div class="input-append pagination-centered">
  <input type="search" class="input-xlarge" placeholder="Search" name="search" id="search"/>
         <span class="add-on">
            <i class="icon-search"></i>
          </span>
</div>