<table>
  <tr>
    <td>Name</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <%  @sports.each do |a| %>
    <tr>
      <td>
        <%= a.name  %>
      </td>
      <td>
        <%= link_to "Show", a %>
      </td>
      <td>
        <%= link_to "Edit", edit_sport_path(a)  %>   <%# Instead of 'a' , you can write full path for link 			like  $- /sports/#{a.id}/edit -$  or $-  -$   %>
      </td>
      <td>
        <%= link_to "Delete", a , :method => :delete, confirm: "Are you sure?" %> <br />
      </td>
    </tr>
  <% end %>
</table>