<h1>Sporcads#show</h1>
<table>
  <tr>
    <td>Academy</td>
    <td>Sport</td>

  </tr>
  <tr>
      <td><%= @sporcad.academy.name %></td>
      <td><%= @sporcad.sport.name %></td>
  </tr>
 </table>

<%= link_to 'Back', sporcads_path %>
