@import "bootstrap";

#search-form {
  margin: 0 auto 50px;
  padding: 20px;
  text-align: left;
  width: 622px;
}

.input-append button.add-on {
  height: inherit !important;
}


a {
  color: #0088CC;
  text-decoration: none;
}